--- Day 6: Trash Compactor ---
After helping the Elves in the kitchen, you were taking a break and helping them re-enact a movie scene when you over-enthusiastically jumped into the garbage chute!

A brief fall later, you find yourself in a garbage smasher. Unfortunately, the door's been magnetically sealed.

As you try to find a way out, you are approached by a family of cephalopods! They're pretty sure they can get the door open, but it will take some time. While you wait, they're curious if you can help the youngest cephalopod with her math homework.

In [1]:
elf_data = []

with open('day06.txt', 'r') as file:
    for line in file:
        elf_data.append(line.strip())

print(len(elf_data))
print(elf_data[0][0:15])
print(elf_data[1][0:15])
print(type(elf_data))

5
8 797  34  5 84
75 142 794 58 4
<class 'list'>

Cephalopod math doesn't look that different from normal math. The math worksheet (your puzzle input) consists of a list of problems; each problem has a group of numbers that need to either be either added (+) or multiplied (*) together.

However, the problems are arranged a little strangely; they seem to be presented next to each other in a very long horizontal list. For example:

123 328  51 64 
 45 64  387 23 
  6 98  215 314
*   +   *   +

Each problem's numbers are arranged vertically; at the bottom of the problem is the symbol for the operation that needs to be performed. Problems are separated by a full column of only spaces. The left/right alignment of numbers within each problem can be ignored.

So, this worksheet contains four problems:

123 * 45 * 6 = 33210
328 + 64 + 98 = 490
51 * 387 * 215 = 4243455
64 + 23 + 314 = 401

In [2]:
test_data = [
"123 328  51 64 ", 
" 45 64  387 23 ", 
"  6 98  215 314",
"*   +   *   +  "]

test_data

['123 328  51 64 ', ' 45 64  387 23 ', '  6 98  215 314', '*   +   *   +  ']

In [3]:
import numpy as np
import regex as re

In [4]:
test_data1 = []
for i in range(0, len(test_data)):
    td=re.split(r' +', test_data[i])
    # hacky hack
    if td[-1] == '':
        td = td[:-1]
    if td[0] == '':
        td = td[1:]    
    test_data1.append(td)
test_data1

[['123', '328', '51', '64'],
 ['45', '64', '387', '23'],
 ['6', '98', '215', '314'],
 ['*', '+', '*', '+']]

In [5]:
elf_data1 = []
for i in range(0, len(elf_data)):
    ed = re.split(r' +', elf_data[i])
    #hacky hack
    if ed[-1] == '':
        ed = ed[:-1]
    if td[0] == '':
        td = td[1:] 
    elf_data1.append(ed)

#elf_data[:-1]

In [6]:
np_test_data1 = np.array(test_data1)
np_elf_data1 = np.array(elf_data1)
np_test_data1

array([['123', '328', '51', '64'],
       ['45', '64', '387', '23'],
       ['6', '98', '215', '314'],
       ['*', '+', '*', '+']], dtype='<U3')

In [7]:
tdt = np.transpose(np_test_data1)
edt = np.transpose(np_elf_data1)
tdt

array([['123', '45', '6', '*'],
       ['328', '64', '98', '+'],
       ['51', '387', '215', '*'],
       ['64', '23', '314', '+']], dtype='<U3')

To check their work, cephalopod students are given the grand total of adding together all of the answers to the individual problems. In this worksheet, the grand total is 33210 + 490 + 4243455 + 401 = 4277556.

In [8]:
def calculate(data):
    total = 0
    for d in data:
        #print(d)
        if d[-1] == "+":
            total += adding(d[:-1])
        else:
            if d[-1] == "*":
                total += multi(d[:-1])
        #print(d, total)
    return total

def adding(numbers):
    total = 0
    for n in numbers:
        total = total+int(n)
    #print(total, "adding ", numbers)        
    return total

def multi(numbers):
    total = 1
    for n in numbers:
        total = total * int(n)
    #print(total, "multip ", numbers)
    return total

calculate(tdt)

4277556

In [9]:
tdt[:-1]

array([['123', '45', '6', '*'],
       ['328', '64', '98', '+'],
       ['51', '387', '215', '*']], dtype='<U3')

Of course, the actual worksheet is much wider. You'll need to make sure to unroll it completely so that you can read the problems clearly.

Solve the problems on the math worksheet. What is the grand total found by adding together all of the answers to the individual problems?

In [10]:
calculate(edt)

5381996914800


--- Part Two ---
The big cephalopods come back to check on how things are going. When they see that your grand total doesn't match the one expected by the worksheet, they realize they forgot to explain how to read cephalopod math.

Cephalopod math is written right-to-left in columns. Each number is given in its own column, with the most significant digit at the top and the least significant digit at the bottom. (Problems are still separated with a column consisting only of spaces, and the symbol at the bottom of the problem is still the operator to use.)

Here's the example worksheet again:

123 328  51 64 
 45 64  387 23 
  6 98  215 314
*   +   *   +  
Reading the problems right-to-left one column at a time, the problems are now quite different:

The rightmost problem is 4 + 431 + 623 = 1058
The second problem from the right is 175 * 581 * 32 = 3253600
The third problem from the right is 8 + 248 + 369 = 625
Finally, the leftmost problem is 356 * 24 * 1 = 8544
Now, the grand total is 1058 + 3253600 + 625 + 8544 = 3263827.

Solve the problems on the math worksheet again. What is the grand total found by adding together all of the answers to the individual problems?

In [11]:
def process_data(data):
    data2 = []
    l = max(len(d) for d in data)
    for d in data: 
        d2 = list(d)
        if len(d2) < l:
            for i in range(len(d2), l):
                d2.append('')
        #print(d2)
        #number = int(''.join(d2[:-1]))
        #data2.append(number,d2[-1])
        data2.append(d2)
    return np.array(np.transpose(data2))

td2 = process_data(test_data)
ed2 = process_data(elf_data)
print(td2)

[['1' ' ' ' ' '*']
 ['2' '4' ' ' ' ']
 ['3' '5' '6' ' ']
 [' ' ' ' ' ' ' ']
 ['3' '6' '9' '+']
 ['2' '4' '8' ' ']
 ['8' ' ' ' ' ' ']
 [' ' ' ' ' ' ' ']
 [' ' '3' '2' '*']
 ['5' '8' '1' ' ']
 ['1' '7' '5' ' ']
 [' ' ' ' ' ' ' ']
 ['6' '2' '3' '+']
 ['4' '3' '1' ' ']
 [' ' ' ' '4' ' ']]

In [12]:
#to be continued
#def new_calc(data):
#    total = 0
#    for d in data:
#        if d[-1] == "*":
#            numbers = []
#            for n in range(0, len
#            total += multiply(